{% extends "base.html" %}
{% block content %}
    <div class="news-content mt-5 border rounded">
        <div class="title bg-info text-white p-3 font-weight-bold">{{ news.title }}</div>
        <div class="content p-3">
            
            <div >
                {{ news.message }}
            </div>
            <div class="mt-2 border-top pt-2">
                <div class="author d-inline">發布人：{{ news.author }}</div>
                {% with news.pubtime as pubtime %}
                <div class="publish-time d-inline">發布時間：{{ pubtime|date:'Y/m/d H:m' }}</div>
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}